.markdown-editor {
  label {
    display: inline-block;
    margin-top: 1px;
  }

  textarea {
    @extend .z-depth-3;

    width: 100%;
    height: 300px;
    background: url("/assets/images/paper.png") repeat-y;
    font-family: monospace;
    line-height: 25px;
    padding: 2px 0 2px 108px;
    border: 0;
  }

  .error {
    color: red;
  }
}
