<div class="row">
  <div class="col s6 no-line-height">
    {{markdown-editor markdown="*Enter yer Markdown here*"
                      key-up=(action "updatePreview")}}
  </div>
  <div class="col s6">
    {{chrome-window content=html}}
  </div>
</div>
