<div class="title-bar valign-wrapper">
  <img src="assets/images/red.png" class="valign circle">
  <img src="assets/images/yellow.png" class="valign circle">
  <img src="assets/images/green.png" class="valign circle">
</div>
<div class="content">
  {{{content}}}
</div>
