{{#unless validRepo}}
  <div class="error">
    <i class="mdi-alert-warning"></i>
    Invalid Repository. Please try something else.
  </div>
{{else}}
  <label>GitHub Repository</label>
{{/unless}}

{{input value=repo enter="retrieveMarkdown"
  placeholder="Repo; e.g., osxi/ember-markdown-editor"}}

{{textarea value=markdown placeholder=placeholder autoresize=true rows=12}}
